* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 20px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #e41f25 #756c6c;
}

body {
    background-color: #756c6c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===== Scrollbar CSS ===== */
  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #756c6c;
}

*::-webkit-scrollbar-thumb {
    background-color: #e41f25;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    box-shadow: 0px 18px 35px -12px rgba(0,0,0,0.75);
    padding: 16px;
}

.display-for-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-5deg) skew(-5deg);
}

.logo-image {
    width: 60px;
}

.search-bar {
    width: 200px;
    background-color: #E41F25;
    border: none;
    border-radius: 8px;
    padding:12px;
    color: white;
}

::placeholder {
    text-align: center;
    color: white;
    font-size: 16px;
    height: 100%;
}

.background {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.overflow-hidden {
    overflow-y: hidden;
}

.position-fixed {
    position: fixed;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 16px;
    width: 200px;
    height: 250px;
    transition: all ease-in-out 250ms;
    font-family: 'open-sans';
}

.no-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: white;
}

.d-flex-for-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33.33%;
}

.pokemon-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 35px -2px rgba(0,0,0,0.75);
    transition: all ease-in-out 250ms;
}

#pokemonCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 40px;
    padding-right: 24px;
    padding-left: 24px;
}

.flex-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-types {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 6px;
    background-color: rgba(228, 31, 37, 0.5);
    color: white;
    border-radius: 8px;
}

.pokemon-types-big {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4px;
    background-color: rgba(228, 31, 37, 0.5);
    color: white;
    border-radius: 8px;
}

.pd-16 {
    padding: 16px;
}

.pokemon-card-rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: -24px;
    gap: 8px;
}

.pokemon-image {
    width: 100px;
    transition: all ease-in-out 150ms;
}

.pokemon-image:hover {
    width: 120px;
    margin-top: -40px;
    transition: all ease-in-out 150ms;
}

.more-details-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 5;
    transition: all ease-in-out 225ms;
    padding-right: 24px;
    padding-left: 24px;
}

#fieldInformation {
    height: 33.33%;
}

.field-more-details {
    height: 900px;
    width: 600px;
    background-color: white;
    border-radius: 24px;
}

.vs-hidden {
    visibility: hidden;
}

.scroll-up {
    width: 64px;
    height: 64px;
    background-color: rgb(228, 31, 37);
    border-radius: 50%;
}

.large-pokemoncard-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.head-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large-pokemoncard-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    background-color: white;
    height: 324px;
    margin-top: -24px;
    border-radius: 24px;
}

.width-100-percent {
    width: 100%;
}

.mg-top-170 {
    margin-top: -170px;
}

.links-for-pokemoncard {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 24px;
    width: 100%;
    height: 33.33%
}

.icon {
    width: 64px;
    height: 64px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.icon:hover {
    cursor: pointer;
}

.pokemon-main-image {
    display: flex;
    align-items: center;
    margin-top: -50px;
    gap: 4px;
}

.load {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-image-big {
    width: 350px;
}

#loadContent {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #E41F25; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.list-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-more-pokemon {
    display: flex;
    justify-content: center;
    margin: 24px;
}

.width-33 {
    width: 33.33%;
    display: flex;
    justify-content: center;
    color: #E41F25;
}

.width-100 {
    width: 100%;
}

footer {
    box-shadow: 0px -18px 35px -12px rgba(0,0,0,0.75);
    width: 100%;
    margin-top: auto;
    /* position: absolute;
    bottom: 0; */
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.copyright-image {
    width: 24px;
}

.fz-16 {
    font-size: 24px;
    color: white;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color {
    color: rgb(228, 31, 37);
}

button {
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(228, 31, 37, 1);
    color: white;
    border: none;
    transition: all ease-in-out 150ms;
}

button:hover {
    cursor: pointer;
    font-size: 22px;
    transition: all ease-in-out 150ms;
}

.close-button {
    padding: 8px;
    background-color: rgba(228, 31, 37, 1);
    border-radius: 8px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #E41F25;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

.btn-pokemoncard {
    padding: 4px;
    border-radius: 8px;
    background-color: rgb(228, 31, 37);
}

.btn-pokemoncard:hover {
    cursor: pointer;
}